@import "_nool.scss";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&display=swap");
body {
  background-color: #2d1319;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@import "header.scss";
@import "main.scss";
@import "footer.scss";
